.ActionPanelRoot
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: down;
}

#ActionPanelBar
{
	height: 10px;
	width: 100%;
	background-color: lightblue;
	margin-bottom: 	2px;
}

#ActionPanelSkills
{
	height: 80px;
	width: 320px;
	flow-children: right;
}

#hellfire_blink, #hellfire_barrier, #hellfire_grenade, #hellfire_flag_drop
{
	height: 80px;
	width: 80px;
	border: 2px solid black;
	background-size: cover;
    background-position: center;
}

#hellfire_blink
{
	background-image: url( "file://{images}/custom_game/hellfire_blink.png" );
}
#hellfire_barrier
{
	background-image: url( "file://{images}/custom_game/hellfire_barrier.png" );
}
#hellfire_grenade
{
	background-image: url( "file://{images}/custom_game/hellfire_grenade.png" );
}
#hellfire_flag_drop
{
	background-image: url( "file://{images}/custom_game/hellfire_flag_drop.png" );
}

#hellfire_blink:hover, #hellfire_barrier:hover, #hellfire_grenade:hover, #hellfire_flag_drop:hover
{
	height: 80px;
	width: 80px;
	border: 2px solid white;
}

#hellfire_blink:active, #hellfire_barrier:active, #hellfire_grenade:active, #hellfire_flag_drop:active
{
	height: 80px;
	width: 80px;
	border: 4px solid white;
}