.MinimapOverlay
{
	vertical-align: bottom;
	horizontal-align: left;
	overflow: clip;
		z-index: -1;
	width: 290px;
	height: 289px;
	border: 3px solid black;
	margin-left: 	5px;
}

#MinimapOverlayImage
{
	width: 325px;
	height: 365px;
	z-index: -1;
	visibility: 	collapse;	
}